html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section{
  height: 100vh;
  scroll-snap-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans",sans;
}
body{
  background-color: #0c0c1d;
  color: lightgray;
}
a{
  text-decoration: none;
  color: inherit;
}

/* .course{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  width: 200px;
  height: 200px;
  background-color: white;
} */

/*protofolio css..................  
/* body{
  overflow: hidden;
}
.portfolio-container{
  background-image: url("https://img.freepik.com/free-photo/handsome-businessman-suit-glasses-cross-arms-chest-look_176420-21750.jpg?w=740&t=st=1691932112~exp=1691932712~hmac=62fbb20b4122aa215526324baa3daa03668a70980b0149011bbef74b96687f18");
  height: 100vh;
  width: 85rem;
  background-size: cover;
  padding: 2rem 4rem;
} */
